@import '~/shared/style/common.css';

/* Defaults for a bunch of things */
@layer base {
	body {
		background: linear-gradient(102deg, hsl(0deg 0% 100% / 0%), rgb(255 204 0 / 5%)),
			linear-gradient(12deg, rgb(33 37 41 / 5%), hsl(0deg 0% 100% / 0%)), var(--v-bg);
		min-height: 100vh;
	}

	a[href] {
		@mixin t-link-style;
	}

	b,
	strong {
		font-weight: var(--v-font-weight-semibold);
	}

	/*
		Truncate overflow on pretty much all text and inline elements by default.
		It's pretty annoying otherwise because every child needs the
		overflow set for the ellipsis treatment to work properly.
	*/
	a,
	aside,
	b,
	blockquote,
	em,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	span,
	strong {
		@mixin t-text;
	}

	/* Button-like things */
	button,
	input[type='button'],
	input[type='submit'],
	input[type='reset'] {
		&:hover {
			@mixin t-hover;
		}

		&:disabled,
		&[aria-disabled='true'] {
			@mixin t-disabled-button;
		}

		&:focus-visible {
			@mixin t-focus-ring;
		}
	}

	/* Input-like things */
	input:not([type='button'], [type='submit'], [type='reset'], [type='range'], .t-unstyled),
	textarea:not(.t-unstyled),
	select:not(.t-unstyled),
	[role='combobox'],
	[role='listbox'] {
		&:disabled,
		&[aria-disabled='true'] {
			@mixin t-disabled-input;
		}

		&:focus {
			@mixin t-focus-ring;
		}

		&::placeholder {
			color: var(--v-muted);
		}
	}

	/* Icons defaults */
	.lucide {
		height: 1lh;
		width: 1em;
		flex-shrink: 0;
	}
}
