/*
	Manually importing all our component styles here to avoid ordering issues
	TODO: Switch to module imports and rely on @layer to handle ordering with Tailwind v4
*/
@import '~/shared/style/helpers.css';
@import '~/shared/components/alert.css';
@import '~/shared/components/button.css';
@import '~/shared/components/box.css';
@import '~/shared/components/card.css';
@import '~/shared/components/checkbox.css';
@import '~/shared/components/color-picker.css';
@import '~/shared/components/description.css';
@import '~/shared/components/details.css';
@import '~/shared/components/dropdown.css';
@import '~/shared/components/error-message.css';
@import '~/shared/components/form.css';
@import '~/shared/components/grid.css';
@import '~/shared/components/group.css';
@import '~/shared/components/input.css';
@import '~/shared/components/label.css';
@import '~/shared/components/label-stack.css';
@import '~/shared/components/list-box.css';
@import '~/shared/components/modal.css';
@import '~/shared/components/modal-form.css';
@import '~/shared/components/option-list.css';
@import '~/shared/components/radio.css';
@import '~/shared/components/select.css';
@import '~/shared/components/slider.css';
@import '~/shared/components/stack.css';
@import '~/shared/components/textarea.css';
@import '~/shared/components/toggle-switch.css';
@import '~/shared/components/tooltip.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color scheme */
@layer base {
	:root {
		/* Default (light) color scheme */
		--background: hsl(0deg 0% 99%);
		--foreground: hsl(0deg 0% 3.9%);
		--card: hsl(0deg 0% 100%);
		--card-fg: hsl(0deg 0% 3.9%);
		--code-bg: hsl(0deg 0% 100%);
		--code-fg: hsl(0deg 0% 3.9%);
		--popover: hsl(0deg 0% 100%);
		--popover-fg: hsl(0deg 0% 3.9%);
		--tooltip: hsl(0deg 0% 3.9%);
		--tooltip-fg: hsl(0deg 0% 98%);
		--primary: hsl(0deg 0% 9%);
		--primary-fg: hsl(0deg 0% 98%);
		--secondary: hsl(0deg 0% 96.1%);
		--secondary-fg: hsl(0deg 0% 9%);
		--highlight: hsl(210deg 80% 20%);
		--highlight-fg: hsl(0deg 0% 98%);
		--callout: hsl(0deg 0% 96.1%);
		--callout-fg: hsl(0deg 0% 9%);
		--success: hsl(120deg 80% 30%);
		--success-fg: hsl(0deg 0% 98%);
		--warning: hsl(50deg 85% 75%);
		--warning-fg: hsl(0deg 0% 0%);
		--danger: hsl(0deg 84.2% 60.2%);
		--danger-fg: hsl(0deg 0% 98%);
		--input-bg: hsl(0deg 0% 100%);
		--input-fg: hsl(0deg 0% 3.9%);
		--input-disabled-bg: hsl(0deg 0% 96.1%);
		--backdrop: hsla(0deg 0% 0% / 50%);
		--muted: hsl(0deg 0% 45.1%);
		--link: hsl(210deg 80% 20%);
		--border: color-mix(in srgb, currentcolor 85%, black);
		--ring: hsl(0deg 0% 3.9%);
		--border-dynamic-base: black;
		--border-dynamic-mix: 15%;

		/* Misc */
		--radius: 0.5rem;
		--tooltip-arrow-size: 0.5rem;
	}

	/* Define dark color scheme variables once */
	.dark {
		--background: hsl(0deg 0% 1.9%);
		--foreground: hsl(0deg 0% 98%);
		--card: hsl(0deg 0% 15%);
		--card-fg: hsl(0deg 0% 98%);
		--code-bg: hsl(0deg 0% 98%);
		--code-fg: hsl(0deg 0% 3.9%);
		--popover: hsl(0deg 0% 3.9%);
		--popover-fg: hsl(0deg 0% 98%);
		--tooltip: hsl(0deg 0% 3.9%);
		--tooltip-fg: hsl(0deg 0% 98%);
		--primary: hsl(0deg 0% 98%);
		--primary-fg: hsl(0deg 0% 9%);
		--secondary: hsl(0deg 0% 14.9%);
		--secondary-fg: hsl(0deg 0% 98%);
		--highlight: hsl(210deg 80% 80%);
		--highlight-fg: hsl(0deg 0% 9%);
		--callout: hsl(0deg 0% 14.9%);
		--callout-fg: hsl(0deg 0% 98%);
		--success: hsl(120deg 80% 30%);
		--success-fg: hsl(0deg 0% 98%);
		--warning: hsl(50deg 85% 75%);
		--warning-fg: hsl(0deg 0% 0%);
		--danger: hsl(0deg 66% 50%);
		--danger-fg: hsl(0deg 0% 98%);
		--input-bg: hsl(0deg 0% 3.9%);
		--input-fg: hsl(0deg 0% 98%);
		--input-disabled-bg: hsl(0deg 0% 14.9%);
		--muted: hsl(0deg 0% 54.9%);
		--link: hsl(210deg 80% 80%);
		--border: hsl(0deg 0% 14.9%);
		--ring: hsl(0deg 0% 83.1%);
		--border-dynamic-base: white;
		--border-dynamic-mix: 25%;
	}

	/* Apply dark color scheme for system preference when in system mode */
	@media (prefers-color-scheme: dark) {
		:root:not([data-color-scheme='light']) {
			@apply dark;
		}
	}

	/* Apply dark color scheme when explicitly selected */
	:root[data-color-scheme='dark'] {
		@apply dark;
	}
}

/* Defaults */
@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply text-base text-foreground;
		@apply underline-offset;

		background: linear-gradient(102deg, hsl(0deg 0% 100% / 0%), rgb(255 204 0 / 5%)),
			linear-gradient(12deg, rgb(33 37 41 / 5%), hsl(0deg 0% 100% / 0%)), var(--background);
		min-height: 100vh;
	}

	a {
		@apply t-link-style;
	}

	b,
	strong {
		@apply font-semibold;
	}
}
