@layer kit, kit-helpers;

@import '~/shared/style/helpers.css';
@import '~/shared/components/box.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color scheme */
@layer base {
	:root {
		/* Default (light) color scheme */
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-fg: 0 0% 3.9%;
		--code-bg: 0 0% 100%;
		--code-fg: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-fg: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-fg: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-fg: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-fg: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-fg: 0 0% 9%;
		--danger: 0 84.2% 60.2%;
		--danger-fg: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
	}

	/* Define dark color scheme variables once */
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-fg: 0 0% 12.9%;
		--code-bg: 0 0% 98%;
		--code-fg: 0 0% 3.9%;
		--popover: 0 0% 3.9%;
		--popover-fg: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-fg: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-fg: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-fg: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-fg: 0 0% 98%;
		--danger: 0 62.8% 30.6%;
		--danger-fg: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}

	/* Apply dark color scheme for system preference when in system mode */
	@media (prefers-color-scheme: dark) {
		:root:not([data-color-scheme='light']) {
			@apply dark;
		}
	}

	/* Apply dark color scheme when explicitly selected */
	:root[data-color-scheme='dark'] {
		@apply dark;
	}
}

/* Defaults */
@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-base text-foreground;
		@apply underline-offset;
	}

	a {
		@apply link-style;
	}
}
