/* Use inner shadow for border color, accepts extra shadows */
@define-mixin t-inner-border $extras: 0 0 {
	border: 0;
	box-shadow:
		inset 0 0 0 var(--v-border-width) var(--v-border-color),
		$(extras);
}

@define-mixin t-border {
	border: var(--v-border-width) solid var(--v-border-color);
}

@define-mixin t-border-top {
	border-top: var(--v-border-width) solid var(--v-border-color);
}

@define-mixin t-border-right {
	border-right: var(--v-border-width) solid var(--v-border-color);
}

@define-mixin t-border-bottom {
	border-bottom: var(--v-border-width) solid var(--v-border-color);
}

@define-mixin t-border-left {
	border-left: var(--v-border-width) solid var(--v-border-color);
}

@layer tools {
	.t-inner-border {
		@mixin t-inner-border;
	}

	.t-border {
		@mixin t-border;
	}

	.t-border-0 {
		border-width: 0;
	}

	.t-bx {
		border-left-width: var(--v-border-width);
		border-right-width: var(--v-border-width);
	}

	.t-by {
		border-top-width: var(--v-border-width);
		border-bottom-width: var(--v-border-width);
	}

	.t-bx-0 {
		border-left-width: 0;
		border-right-width: 0;
	}

	.t-by-0 {
		border-top-width: 0;
		border-bottom-width: 0;
	}

	.t-bt {
		border-top-width: var(--v-border-width);
	}

	.t-br {
		border-right-width: var(--v-border-width);
	}

	.t-bb {
		border-bottom-width: var(--v-border-width);
	}

	.t-bl {
		border-left-width: var(--v-border-width);
	}

	.t-bt-0 {
		border-top-width: 0;
	}

	.t-br-0 {
		border-right-width: 0;
	}

	.t-bb-0 {
		border-bottom-width: 0;
	}

	.t-bl-0 {
		border-left-width: 0;
	}
}
