/* CSS flex box helpers */

@define-mixin t-flex-static {
	flex: 0 0 auto;
}

@define-mixin t-flex-fill {
	flex: 1 1 1em;
}

@define-mixin t-flex-auto {
	flex: 1 1 auto;
}

@layer tools {
	.t-flex {
		display: flex;
	}

	.t-flex-static {
		@mixin t-flex-static;
	}

	.t-flex-fill {
		@mixin t-flex-fill;
	}

	.t-flex-auto {
		@mixin t-flex-auto;
	}

	.t-align-start {
		align-items: flex-start;
	}

	.t-align-center {
		align-items: center;
	}

	.t-align-end {
		align-items: flex-end;
	}

	.t-justify-start {
		justify-content: flex-start;
	}

	.t-justify-center {
		justify-content: center;
	}

	.t-justify-end {
		justify-content: flex-end;
	}
}
