/* CSS flex box helpers */

@define-mixin t-flex-static {
	flex: 0 0 auto;
}

@define-mixin t-flex-fill {
	flex: 1 1 1em;
}

@define-mixin t-flex-auto {
	flex: 1 1 auto;
}

@layer tools {
	.t-flex-static {
		@mixin t-flex-static;
	}

	.t-flex-fill {
		@mixin t-flex-fill;
	}

	.t-flex-auto {
		@mixin t-flex-auto;
	}
}
