/*
    Styles for different states of an input element.
*/
@define-mixin t-disabled-button {
	pointer-events: none;
	opacity: 0.5;
}

@define-mixin t-disabled-input {
	background-color: var(--v-input-disabled-bg);
	cursor: not-allowed;
}

@define-mixin t-error {
	border-color: var(--v-danger-bg);
}

@define-mixin t-focus-ring {
	outline: var(--v-outline-width) solid var(--ring);
	outline-offset: var(--v-outline-offset);
}

@define-mixin t-hover {
	filter: contrast(0.95) saturate(1.15);
}
