/* Default box is just a container with set padding  */
@define-mixin o-box {
	padding: var(--v-spacing);
}

/* Text variant uses reduced padding on y-axis to account for line height */
@define-mixin o-text-box {
	padding: var(--v-spacing-text-y) var(--v-spacing);

	/* Some default text overflow handling */

	overflow-x: hidden;
	text-overflow: ellipsis;

	* {
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
}

@layer objects {
	.o-box {
		@mixin o-box;
	}

	.o-text-box {
		@mixin o-text-box;
	}
}
