/* A default basic grid */
@define-mixin o-grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: var(--v-spacing);

	@mixin v-breakpoint-tablet {
		& {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	@mixin v-breakpoint-tablet-wide {
		& {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}

@layer objects {
	.o-grid {
		@mixin o-grid;
	}
}
