@import '~/shared/style/tokens.css';
@import '~/shared/style/mixins.css';

@layer components {
	.c-box {
		/* md by default */
		padding: var(--space-md);
	}

	/*
		Variant focused on text padding. This has smaller vertical padding to account
		for the line height of the text.
	 */
	.c-text-box {
		@mixin input-pad-md;
	}

	/** Vertical padding only */
	.c-text-box--v {
		padding-top: var(--text-y-md);
		padding-bottom: var(--text-y-md);
		font-size: var(--font-size-md);
		line-height: var(--line-height-md);
	}
}

@layer utilities {
	/* Size variants */
	.c-box--sm {
		padding: var(--space-sm);
	}

	.c-box--lg {
		padding: var(--space-lg);
	}

	.c-text-box--sm {
		@mixin input-pad-sm;
	}

	.c-text-box--v-sm {
		padding-top: var(--text-y-sm);
		padding-bottom: var(--text-y-sm);
		font-size: var(--font-size-sm);
		line-height: var(--line-height-sm);
	}

	.c-text-box--lg {
		@mixin input-pad-lg;
	}

	.c-text-box--v-lg {
		padding-top: var(--text-y-lg);
		padding-bottom: var(--text-y-lg);
		font-size: var(--font-size-lg);
		line-height: var(--line-height-lg);
	}
}
