@import '~/shared/styles/common.css';

@layer components {
	.c-button,
	.c-button--ghost {
		@mixin t-font-weight var(--v-font-weight-label);

		padding-inline: var(--v-spacing);
	}

	.c-button,
	.c-button--ghost,
	.c-button--icon {
		@mixin t-radius-inner;
	}

	.c-button {
		@mixin v-colors-secondary;

		/* Hover/active states */
		&:hover {
			box-shadow: var(--v-shadow-md);
		}

		&:active {
			box-shadow: none;
		}
	}

	a.c-button,
	a.c-button--ghost {
		@mixin t-button-style;

		color: var(--v-fg);
		padding-inline: var(--v-spacing);
		text-decoration: none;
	}

	.c-button--icon {
		font-size: inherit;
		align-items: center;
	}

	.c-button--icon,
	.c-button--ghost {
		&:hover {
			border-color: var(--v-secondary-bg);
			background-color: var(--v-secondary-bg);
			color: var(--v-secondary-fg);
			box-shadow: none;
		}
	}

	.c-button--link {
		@mixin t-link-style;

		align-self: center;
		display: inline;
		border: 0;
		background-color: transparent;
		padding: 0;

		&:focus-visible {
			/* For reasons unknown, overflow hidden breaks double underline focus state */
			overflow: visible;
		}

		&:hover {
			box-shadow: none;
		}
	}
}
