@import '~/shared/style/tokens.css';
@import '~/shared/style/mixins.css';

@layer components {
	.c-card {
		display: flex;
		flex-direction: column;
		border-radius: var(--radius-lg);
		border-width: var(--border-width-md);
		border-style: solid;
		background-color: var(--card);
		color: var(--card-fg);
		box-shadow: var(--shadow-md);

		@mixin border-dynamic var(--card);
	}

	.c-card__header {
		padding-left: var(--space-md);
		padding-right: var(--space-md);
		padding-bottom: 0;
		padding-top: var(--text-y-md);
	}

	.c-card__title {
		font-weight: var(--font-weight-semibold);
	}

	.c-card__description {
		font: var(--text-sm);
		color: var(--muted);
	}

	.c-card__content {
		flex-grow: 1;
		padding: var(--space-md);
	}

	.c-card__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--space-sm);
		padding-left: var(--space-md);
		padding-right: var(--space-md);
		padding-bottom: var(--space-md);
		padding-top: 0;
	}

	.c-card__footer > :only-child {
		margin-left: auto;
	}
}
