@import '~/shared/style/common.css';

@layer components {
	.c-card {
		@mixin v-card-colors;
		@mixin t-border;
		@mixin t-outer-radius;

		box-shadow: var(--v-shadow-md);
		display: flex;
		flex-direction: column;
		container-type: inline-size;
	}

	.c-card__header {
		@mixin o-text-box;

		padding-bottom: 0;
	}

	.c-card__title {
		font-weight: var(--v-font-weight-semibold);
	}

	.c-card__description {
		@mixin v-text-sm;

		color: var(--v-muted);
	}

	.c-card__content {
		@mixin o-box;
		@mixin t-flex-fill;
	}

	.c-card__footer {
		@mixin o-box;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--v-inline-gap);
		padding-top: 0;
	}

	.c-card__footer > :only-child {
		margin-left: auto;
	}
}
