@import '~/shared/style/helpers.css';

@layer components {
	.c-checkbox {
		@apply inline-flex h-lh flex-shrink-0 cursor-pointer items-center;
	}

	.c-checkbox__box {
		@apply inline-flex h-em w-em items-center justify-center rounded-sm border-md border-solid bg-input-bg text-input-md shadow-inner transition-colors border-dynamic-secondary-fg;
	}

	.c-checkbox__box:has(input:checked) {
		@apply bg-primary text-primary-fg;
	}

	.c-checkbox input {
		@apply sr-only;
	}

	.c-checkbox__box:has(input:focus-visible) {
		@apply t-focus-ring;
	}

	.c-checkbox svg {
		@apply h-em w-em;
	}

	.c-checkbox .c-checkbox__check {
		display: none;
	}

	.c-checkbox .c-checkbox__indeterminate {
		display: none;
	}

	.c-checkbox input:checked ~ .c-checkbox__check {
		display: block;
	}

	.c-checkbox input:indeterminate ~ .c-checkbox__indeterminate {
		display: block;
	}

	@layer utilities {
		.c-checkbox--error .c-checkbox__box,
		.c-checkbox__box:has([aria-invalid='true']) {
			@apply border-dynamic-danger;
		}

		.c-checkbox__box:has([aria-disabled='true']) {
			@apply cursor-not-allowed bg-input-disabled;
		}
	}
}
