@import '~/shared/style/tokens.css';
@import '~/shared/style/mixins.css';

@layer components {
	.c-description {
		overflow-x: hidden;
		text-overflow: ellipsis;
		font: var(--text-sm);
		color: var(--muted);
	}
}
