@import '~/shared/style/common.css';

@layer components {
	.c-description {
		overflow-x: hidden;
		text-overflow: ellipsis;
		font-size: var(--font-size-sm);
		line-height: var(--line-height-sm);
		color: var(--muted);
	}
}
