@import '~/shared/styles/common.css';

@layer components {
	.c-details {
		@mixin v-colors-card;
		@mixin t-border;
		@mixin t-radius-inner;

		overflow: hidden;
		width: 100%;
	}

	.c-details:has(.c-details__summary:focus-visible) {
		@mixin t-focus-ring;
	}

	.c-details__summary {
		@mixin v-colors-secondary;
		@mixin o-text-box;
		@mixin v-font-weight var(--v-font-weight-label);

		cursor: pointer;
		list-style: none;

		&::-webkit-details-marker {
			display: none;
		}

		&::before {
			content: '▶';
			display: inline-block;
			margin-right: var(--v-inline-gap);
			transform: scale(0.8);
		}

		[open] &::before {
			transform: rotate(90deg) scale(0.8);
		}

		&:focus-visible {
			@mixin t-no-focus-ring;
		}

		&:hover {
			@mixin t-hover;
		}
	}

	.c-details__content {
		@mixin o-text-box;
		@mixin o-text-stack;

		margin-top: calc((1em - 1lh) / 2);
	}
}
