@import '~/shared/style/common.css';

@layer base {
	/* No scroll when dropdown open */
	body:has(.c-dropdown__content:popover-open) {
		overflow: hidden;
	}

	/* Dropdown backdrop -- use this instead of ::backdrop because this blocks click-through */
	body:has(.c-dropdown__content:popover-open)::after,
	:modal:has(.c-dropdown__content:popover-open)::after {
		content: ' ';
		position: fixed;
		inset: 0;
		z-index: var(--v-z-backdrop);
		display: block;
		background-color: var(--v-backdrop);
		backdrop-filter: blur(4px);
	}

	/* Make backdrop transparent on larger screens */
	@mixin v-breakpoint-tablet {
		body:has(.c-dropdown__content:popover-open)::after,
		:modal:has(.c-dropdown__content:popover-open)::after {
			background-color: transparent;
			backdrop-filter: none;
		}
	}
}

@layer variables {
	:root {
		--c-dropdown__width: 11.5rem;
	}
}

@layer components {
	.c-dropdown__content {
		@mixin v-popover-colors;
		@mixin t-inner-radius;

		--c-dropdown__spacing: var(--v-inner-radius);

		position: fixed;
		margin: 0 auto;
		flex-direction: column;
		overflow: hidden;
		padding-top: var(--c-dropdown__spacing);
		z-index: var(--v-z-above-backdrop);
		min-width: var(--c-dropdown__width);

		/* Mobile specific styling */
		inset: var(--v-spacing);
		width: 100%;
		max-height: calc(100vh - 2 * var(--v-spacing));
		max-width: calc(100vw - 2 * var(--v-spacing));

		/*
			Border looks weird with highlighting but is necessary to distinguish card from
			identically colored background, so use this "shadow border"
		*/
		@mixin t-inner-border var(--v-shadow-lg);
	}

	.c-dropdown__content:popover-open {
		display: flex;
	}

	.c-dropdown__children {
		flex-grow: 1;
		overflow-y: auto;
	}

	.c-dropdown__footer {
		@mixin v-input-sm;
		@mixin v-text-sm;
		@mixin o-input-box;
		@mixin t-border-top;

		margin-top: var(--c-dropdown__spacing);
		display: flex;
		flex: none;
		justify-content: flex-end;
		vertical-align: middle;
	}

	/* Dropdown positioning only on larger screens */
	@mixin v-breakpoint-tablet {
		.c-dropdown__content {
			inset: unset;
			width: auto;
			padding-bottom: var(--c-dropdown__spacing);

			/* These are set via `dropdown.tsx` */
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			left: var(--c-dropdown-left);
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			top: var(--c-dropdown-top);
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			max-height: var(--c-dropdown-max-height);
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			max-width: var(--c-dropdown-max-width);
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			min-width: var(--c-dropdown-min-width, 180px);
		}

		.c-dropdown__footer {
			display: none;
		}
	}
}
