@import '~/shared/styles/common.css';

@layer base {
	/* No scroll when dropdown open */
	body:has(.c-dropdown__content:popover-open, .c-dropdown__content[data-popover-open]) {
		overflow: hidden;
	}

	/* Dropdown backdrop -- use this instead of ::backdrop because this blocks click-through */
	body:has(.c-dropdown__content:popover-open, .c-dropdown__content[data-popover-open])::after,
	:modal:has(.c-dropdown__content:popover-open, .c-dropdown__content[data-popover-open])::after {
		content: ' ';
		position: fixed;
		inset: 0;
		z-index: var(--v-z-backdrop);
		display: block;
		background-color: var(--v-backdrop);
		backdrop-filter: blur(4px);
	}

	/* Make backdrop transparent on larger screens */
	@mixin v-breakpoint-tablet {
		body:has(.c-dropdown__content:popover-open, .c-dropdown__content[data-popover-open])::after,
		:modal:has(
				.c-dropdown__content:popover-open,
				.c-dropdown__content[data-popover-open]
			)::after {
			background-color: transparent;
			backdrop-filter: none;
		}
	}
}

@layer variables {
	:root {
		--c-dropdown__min-width: 11.5rem;
		--c-dropdown__max-width: 20rem;
	}
}

@layer components {
	.c-dropdown__content {
		@mixin v-colors-popover;
		@mixin t-radius-inner;

		--c-dropdown__spacing: var(--v-inner-radius);

		position: fixed;
		margin: 0 auto;
		flex-direction: column;
		overflow: hidden;
		padding-top: var(--c-dropdown__spacing);
		z-index: var(--v-z-above-backdrop);
		min-width: var(--c-dropdown__min-width);

		/* Mobile specific styling */
		inset: var(--v-spacing);
		width: 100%;
		max-height: calc(100vh - 2 * var(--v-spacing));
		max-width: calc(100vw - 2 * var(--v-spacing));

		/*
			Border looks weird with highlighting but is necessary to distinguish card from
			identically colored background, so use this "shadow border"
		*/
		@mixin t-border-inner var(--v-shadow-lg);
	}

	.c-dropdown__content:popover-open {
		display: flex;
	}

	.c-dropdown__children {
		flex-grow: 1;
		overflow-y: auto;
	}

	.c-dropdown__footer {
		@mixin v-input-sm;
		@mixin v-text-sm;
		@mixin o-input-box;
		@mixin t-border-top;

		margin-top: var(--c-dropdown__spacing);
		display: flex;
		flex: none;
		justify-content: flex-end;
		vertical-align: middle;
	}

	/* Dropdown positioning only on larger screens */
	@mixin v-breakpoint-tablet {
		.c-dropdown__content {
			inset: unset;
			width: auto;
			padding-bottom: var(--c-dropdown__spacing);

			/* These are set via `dropdown.tsx` and `select.tsx` */
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			left: var(--c-dropdown__left);
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			top: var(--c-dropdown__top);
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			max-height: var(--c-dropdown__computed-max-height);
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			max-width: min(
				var(--c-dropdown__computed-max-width, 100vw),
				var(--c-dropdown__max-width)
			);
			/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
			min-width: max(var(--c-dropdown__computed-min-width, 0), var(--c-dropdown__min-width));
		}

		.c-dropdown__footer {
			display: none;
		}
	}
}
