@import '~/shared/style/tokens.css';
@import '~/shared/style/mixins.css';

@layer components {
	.c-error-message {
		overflow-x: hidden;
		text-overflow: ellipsis;
		font: var(--text-sm);
		color: var(--danger);
	}

	.c-error-message:empty {
		display: none;
	}
}
