@import '~/shared/style/common.css';

@layer components {
	.c-header {
		display: flex;
		align-items: center;
		gap: var(--space-sm);
		padding: var(--text-y-md) var(--space-md);
		font-size: var(--font-size-xl);
		line-height: var(--line-height-xl);
		font-weight: var(--font-weight-medium);
	}
}
