@import '~/shared/styles/common.css';

@layer components {
	.c-img > * {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	.c-img__error {
		@mixin v-colors-secondary;
		@mixin v-text-muted;

		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
