@import '~/shared/style/tokens.css';
@import '~/shared/style/mixins.css';

@layer components {
	.c-input {
		width: 100%;
		border-width: var(--border-width-md);
		border-style: solid;
		border-radius: var(--radius-md);
		background-color: var(--input-bg);
		color: var(--input-fg);
		box-shadow: var(--shadow-inner);

		@mixin transition-color;
		@mixin border-dynamic var(--secondary);
		@mixin with-disabled-input;
		@mixin with-error-input;
		@mixin with-focus-ring;
		@mixin input-size-md;

		&::placeholder {
			color: var(--muted);
		}
	}
}

@layer utilities {
	/* State variants */
	.c-input--disabled {
		@mixin disabled-input;
	}

	.c-input--error {
		@mixin error-input;
	}
}
