@import '~/shared/style/common.css';

@layer components {
	.c-labelled-action {
		display: flex;
		align-items: center;
		gap: var(--space-sm);
	}

	.c-labelled-action__label {
		flex-shrink: 1;
		flex-grow: 1;
	}

	.c-labelled-action__control + * {
		flex-shrink: 0;
		flex-grow: 0;
	}
}
