@layer components {
	.c-label {
		display: inline-block;
		cursor: pointer;
		font-weight: var(--v-font-weight-medium);
	}

	.c-label:has(input) {
		display: inline-flex;
		align-items: flex-start;
		gap: var(--v-inline-gap);
		font-weight: var(--v-font-weight-normal);
	}

	.c-label:has([aria-disabled='true']),
	.c-label:has(+ [aria-disabled='true']) {
		color: var(--v-muted);
	}

	.c-label:has([aria-invalid='true']),
	.c-label:has(+ [aria-invalid='true']) {
		color: var(--v-danger-bg);
	}

	.c-label-stack:has([aria-invalid='true']) .c-label {
		color: var(--v-danger-bg);
	}

	.c-label-stack:has([aria-disabled='true']) .c-label {
		color: var(--v-muted);
	}
}
