@import '~/shared/styles/common.css';

@layer components {
	.c-labelled-action {
		display: flex;
		align-items: center;
		gap: var(--v-inline-gap);
	}

	.c-labelled-action__label {
		@mixin t-flex-fill;
	}

	.c-labelled-action__control + * {
		@mixin t-flex-static;
	}
}
