@import '~/shared/style/common.css';

@layer components {
	.c-label-stack {
		display: flex;
		flex-direction: column;
	}

	.c-label-stack > * + * {
		margin-top: var(--v-space-xs);
	}

	.c-label-stack > label,
	.c-label-stack > .c-description,
	.c-label-stack > .c-error-message {
		padding-left: var(--v-space-xs);
		padding-right: var(--v-space-xs);
	}

	.c-label-stack > label + .c-description,
	.c-label-stack > .c-label + .c-description {
		margin-top: 0;
	}
}
