@import '~/shared/style/helpers.css';

@layer components {
	.c-list-box:not(.c-dropdown__content) {
		@apply t-with-disabled-input t-with-error-input t-with-focus-ring-always w-full px-0 py-xs transition-colors disabled:pointer-events-none disabled:cursor-not-allowed aria-disabled:pointer-events-none aria-disabled:cursor-not-allowed;

		/* Base styles */
		@apply border-0 bg-input-bg text-input-fg placeholder:text-muted;
		@apply rounded-md;

		/*
			Border looks weird with highlighting but is necessary to distinguish listbox from
			identically colored background, so use this "shadow border" (along with another
			inner border to give depth effect)
		*/
		box-shadow: theme('boxShadow.innerBorder'), theme('boxShadow.inner');
	}

	.c-list-box__item.c-option-list__item {
		@apply flex cursor-pointer items-center gap-xs;
	}

	.c-list-box__check-box {
		@apply flex size-em items-center justify-center;
	}

	.c-list-box__item_text {
		@apply overflow-x-hidden text-ellipsis;
	}

	.c-list-box__check-box svg {
		display: none;
	}

	.c-list-box__item[aria-checked='true'] .c-list-box__check-box svg {
		display: block;
	}
}

@layer utilities {
	/* State variants */

	.c-list-box--disabled {
		@apply t-disabled-input pointer-events-none cursor-not-allowed;
	}

	.c-list-box--error {
		@apply t-error-input;
	}
}
