@import '~/shared/style/common.css';

@layer components {
	.c-list-box:not(.c-dropdown__content) {
		width: 100%;
		padding: var(--space-xs) 0;
		border: 0;
		border-radius: var(--radius-md);
		background-color: var(--input-bg);
		color: var(--input-fg);

		@mixin transition-color;
		@mixin with-disabled-input;
		@mixin with-error-input;
		@mixin with-focus-ring-always;

		/*
			Border looks weird with highlighting but is necessary to distinguish listbox from
			identically colored background, so use this "shadow border" (along with another
			inner border to give depth effect)
		*/
		@mixin border-inner var(--shadow-inner);

		&::placeholder {
			color: var(--muted);
		}

		&:disabled,
		&[aria-disabled='true'] {
			pointer-events: none;
			cursor: not-allowed;
		}
	}

	.c-list-box__item.c-option-list__item {
		display: flex;
		cursor: pointer;
		align-items: center;
		gap: var(--space-xs);
	}

	.c-list-box__check-box {
		display: flex;
		height: 1em;
		width: 1em;
		align-items: center;
		justify-content: center;
	}

	.c-list-box__item_text {
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	.c-list-box__check-box svg {
		display: none;
	}

	.c-list-box__item[aria-checked='true'] .c-list-box__check-box svg {
		display: block;
	}
}

@layer utilities {
	/* State variants */
	.c-list-box--disabled {
		pointer-events: none;
		cursor: not-allowed;

		@mixin disabled-input;
	}

	.c-list-box--error {
		@mixin error-input;
	}
}
