@import '~/shared/style/tokens.css';
@import '~/shared/style/mixins.css';

@layer base {
	/* Stop scrolling when modal open */
	body:has(:modal) {
		overflow: hidden;
	}
}

@layer components {
	.c-modal {
		background-color: transparent;
		max-width: 100vw;
	}

	.c-modal::backdrop {
		background-color: var(--backdrop);
		backdrop-filter: blur(4px);
	}

	/* Fullscreen on mobile */
	.c-modal__body {
		position: fixed;
		inset: var(--space-xs);
		display: flex;
		flex-direction: column;
		overflow: hidden;
		background-color: var(--card);
		color: var(--card-fg);
		box-shadow: var(--shadow-lg);
		outline: none;
		border-radius: var(--radius-sm);

		@mixin border-dynamic var(--card);
	}

	@media (width >= 640px) {
		.c-modal__body {
			inset: auto;
			left: 50%;
			top: 50%;
			max-height: calc(100vh - var(--space-sm));
			width: var(--modal-width);
			max-width: 100%;
			transform: translate(-50%, -50%);
			border-width: var(--border-width-md);
			border-style: solid;
			border-radius: var(--radius-md);
		}
	}

	@media (width >= 768px) {
		.c-modal__body {
			max-height: calc(100vh - var(--space-md));
			border-radius: var(--radius-lg);
		}
	}

	@media (width >= 1024px) {
		.c-modal__body {
			max-height: calc(100vh - var(--space-lg));
		}
	}

	.c-modal__content,
	.c-modal__header {
		padding: var(--space-md);
	}

	.c-modal__content {
		position: relative;
		flex-grow: 1;
		overflow: auto;
	}

	* + .c-modal__content {
		padding-top: 0;
	}

	.c-modal__content:has(+ .c-modal__footer) {
		padding-bottom: var(--space-xs); /* Not zero -- leave some space for focus ring */
	}

	.c-modal__header {
		flex: none;
	}

	.c-modal__x {
		color: var(--muted);
	}

	.c-modal__content:not(.c-modal__content--scroll-top) {
		box-shadow: var(--shadow-inner-top);
	}

	.c-modal__content:not(.c-modal__content--scroll-bottom):has(+ .c-modal__footer) {
		box-shadow: var(--shadow-inner-bottom);
	}

	.c-modal__content:not(.c-modal__content--scroll-top, .c-modal__content--scroll-bottom):has(
			+ .c-modal__footer
		) {
		box-shadow: var(--shadow-inner-top), var(--shadow-inner-bottom);
	}

	.c-modal__title {
		flex-grow: 1;
		font-size: var(--font-size-xl);
		line-height: var(--line-height-xl);
		font-weight: var(--font-weight-bold);
	}

	.c-modal__footer {
		display: flex;
		flex: none;
		align-items: center;
		justify-content: flex-end;
		gap: var(--space-md);
		padding: var(--space-md);
	}
}
