@import '~/shared/style/common.css';

@layer base {
	/* Stop scrolling when modal open */
	body:has(:modal) {
		overflow: hidden;
	}
}

@layer variables {
	:root {
		--c-modal__width: 32rem;
	}
}

@layer components {
	.c-modal {
		background-color: transparent;
		max-width: 100vw;
	}

	.c-modal::backdrop {
		background-color: var(--v-backdrop);
		backdrop-filter: blur(4px);
	}

	/* Fullscreen on mobile */
	.c-modal__body {
		@mixin v-card-colors;
		@mixin t-border;
		@mixin t-outer-radius;

		--c-modal__inset: var(--v-space-xs);

		inset: var(--c-modal__inset);
		position: fixed;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		container-type: inline-size;
	}

	@mixin v-breakpoint-tablet {
		.c-modal__body {
			--c-modal__inset: var(--v-space-sm);

			inset: auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			max-height: calc(100vh - var(--c-modal__inset));
			max-width: 100%;
			width: var(--c-modal__width);
		}
	}

	@mixin v-breakpoint-tablet-wide {
		.c-modal__body {
			--c-modal__inset: var(--v-space-md);
		}
	}

	@mixin v-breakpoint-desktop {
		.c-modal__body {
			--c-modal__inset: var(--v-space-lg);
		}
	}

	.c-modal__header {
		@mixin o-text-box;

		flex: none;
	}

	.c-modal__content {
		@mixin o-box;

		position: relative;
		flex-grow: 1;
		overflow: auto;
	}

	* + .c-modal__content {
		padding-top: 0;
	}

	.c-modal__content:has(+ .c-modal__footer) {
		padding-bottom: var(--v-space-xs); /* Not zero -- leave some space for focus ring */
	}

	.c-modal__x {
		@mixin t-text-muted;
	}

	.c-modal__content:not(.c-modal__content--scroll-top) {
		box-shadow: var(--v-shadow-inner-top);
	}

	.c-modal__content:not(.c-modal__content--scroll-bottom):has(+ .c-modal__footer) {
		box-shadow: var(--v-shadow-inner-bottom);
	}

	.c-modal__content:not(.c-modal__content--scroll-top, .c-modal__content--scroll-bottom):has(
			+ .c-modal__footer
		) {
		box-shadow: var(--v-shadow-inner-top), var(--v-shadow-inner-bottom);
	}

	.c-modal__title {
		@mixin v-text-xl;

		flex-grow: 1;
		font-weight: var(--v-font-weight-bold);
	}

	.c-modal__footer {
		@mixin o-box;

		display: flex;
		flex: none;
		align-items: center;
		justify-content: flex-end;
		gap: var(--v-inline-gap);
	}
}
