@import '~/shared/styles/common.css';

@layer components {
	.c-option-list {
		@mixin v-text-sm;

		overflow: hidden auto;
	}

	.c-option-list__heading,
	.c-option-list__item {
		@mixin v-spacing-sm;
		@mixin o-text-box;

		display: block;
		padding-inline: calc(var(--v-spacing) + var(--v-inner-radius));
		text-align: left;
		width: 100%;
	}

	.c-option-list__item {
		@mixin v-text-sm;

		cursor: pointer;

		/*
			Undo default color transitions for buttons. It's a bit much when used
			in a highlight item context.
		*/
		transition: none;
	}

	a.c-option-list__item {
		@mixin t-font-weight var(--v-font-weight-normal);

		color: var(--v-popover-fg);
		text-decoration: none;
	}

	body[data-kb-nav='false'] .c-option-list__item:hover,
	body[data-kb-nav='false'] a.c-option-list__item:hover,
	body[data-kb-nav='true'] .c-option-list__item:focus-visible,
	body[data-kb-nav='true'] :focus-visible .c-option-list__item[data-c-option-list-active],
	body[data-kb-nav='true'] :popover-open .c-option-list__item[data-c-option-list-active] {
		@mixin v-colors-highlight;
		@mixin t-no-focus-ring;
	}

	.c-option-list__heading {
		@mixin v-text-sm;
		@mixin t-font-weight var(--v-font-weight-subtitle);
		@mixin t-text-muted;

		line-height: 1;
		padding-bottom: var(--v-space-xs);
	}

	.c-option-list__group + .c-option-list__group,
	.c-option-list__group + .c-option-list__heading {
		@mixin t-border-top;

		margin-top: var(--v-space-xs);
	}

	.c-option-list__group + .c-option-list__group {
		padding-top: var(--v-space-xs);
	}

	/* Fix "divider" padding clobbering heading padding */
	.c-option-list__group + .c-option-list__heading {
		padding-top: calc(var(--v-spacing) - (1lh - 1em) / 2 + var(--v-space-xs));
	}
}
