@import '~/shared/style/common.css';

@layer components {
	.c-radio {
		display: inline-flex;
		height: 1lh;
		cursor: pointer;
		align-items: center;
	}

	.c-radio__circle {
		display: inline-flex;
		height: 1em;
		width: 1em;
		align-items: center;
		justify-content: center;
		border-radius: var(--radius-full);
		border-width: var(--border-width-md);
		border-style: solid;
		background-color: var(--input-bg);
		font-size: var(--font-size-md);
		line-height: var(--line-height-md);
		box-shadow: var(--shadow-inner);

		@mixin transition-color;
		@mixin border-dynamic var(--secondary-fg);
	}

	.c-radio__circle:has(input:checked) {
		background-color: var(--primary);
		color: var(--primary-fg);
	}

	.c-radio input {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	.c-radio__circle:has(input:focus-visible) {
		@mixin focus-ring;
	}

	.c-radio .c-radio__dot {
		display: none;
	}

	.c-radio input:checked ~ .c-radio__dot {
		display: block;
		height: 66.6667%;
		width: 66.6667%;
		border-radius: var(--radius-full);
		background-color: var(--primary-fg);
	}
}

@layer utilities {
	.c-radio--error .c-radio__circle,
	.c-radio__circle:has([aria-invalid='true']) {
		@mixin border-dynamic var(--danger);
	}

	.c-radio__circle:has([aria-disabled='true']) {
		cursor: not-allowed;
		background-color: var(--input-disabled-bg);
	}
}
