@import '~/shared/styles/common.css';

@layer components {
	.c-radio {
		display: inline-flex;
		height: 1lh;
		flex-shrink: 0;
		cursor: pointer;
		align-items: center;
	}

	.c-radio__circle {
		@mixin v-colors-input;
		@mixin t-border;
		@mixin t-input-wrapper-states;

		position: relative;
		display: inline-flex;
		height: 1em;
		width: 1em;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		box-shadow: var(--v-shadow-inner);
	}

	.c-radio__circle:has(input:checked) {
		@mixin v-colors-primary;
	}

	.c-radio input {
		@mixin t-sr-only;
	}

	.c-radio .c-radio__dot {
		display: none;
	}

	.c-radio input:checked ~ .c-radio__dot {
		display: block;
		height: 66.6667%;
		width: 66.6667%;
		border-radius: 100%;
		background-color: var(--v-primary-fg);
	}
}
