@import '~/shared/style/helpers.css';

@layer components {
	.c-select__button,
	.c-select__input,
	.c-select__input_description {
		@apply t-with-disabled-input t-with-error-input t-with-focus-ring min-h-input-md w-full overflow-x-hidden text-ellipsis rounded-md border-md bg-input-bg py-input-y-md pl-input-x-md text-left text-input-md font-normal text-input-fg shadow-inner transition-colors border-dynamic-secondary;

		/* To avoid overlap with the chevron or clear */
		padding-right: theme('width.input-md');
	}

	.c-select__button {
		@apply t-with-focus-ring-always;
	}

	/* Select container parts */

	.c-select__container {
		@apply relative;
	}

	.c-select__chevron,
	.c-select__clear {
		@apply absolute inset-y-0 right-0 flex w-input-md items-center justify-center border-0 bg-transparent p-0 text-muted [&_svg]:size-em;
	}

	.c-select__chevron {
		@apply flex;
	}

	.c-select__clear {
		@apply hidden rounded-md;
	}

	/* Show clear button only is there's something to clear (and not required) */
	.c-select__container:has(+ [role='listbox'] [aria-checked='true']):not(
			:has([aria-required]:not([aria-required='false'])),
			:has(:required)
		)
		.c-select__clear {
		@apply flex;
	}

	/* Hide chevvron if clear button is shown */
	.c-select__container:has(+ [role='listbox'] [aria-checked='true']):not(
			:has([aria-required]:not([aria-required='false'])),
			:has(:required)
		)
		.c-select__chevron {
		@apply hidden;
	}

	.c-select__placeholder {
		@apply text-muted;
	}

	/* Select dropdown empty state */

	.c-select__empty_state {
		@apply block w-full overflow-y-auto overflow-x-hidden text-ellipsis px-input-x-md py-input-y-sm text-center text-input-sm text-muted;
	}

	* + .c-select__empty_state {
		@apply hidden;
	}

	/* Select typeahead */

	.c-select__input {
		@apply absolute inset-0 opacity-0 focus:opacity-100;
	}

	.c-select__input_description {
		@apply pointer-events-none;
	}

	.c-select__container:has(:popover-open, :focus) .c-select__input {
		@apply opacity-100;
	}

	.c-select__container:has(:popover-open, :focus) .c-select__input_description {
		@apply opacity-0;
	}

	:disabled + .c-select__input_description,
	[aria-disabled='true'] + .c-select__input_description {
		@apply t-disabled-input;
	}

	/* Mobile-specific fixed positioning for input + dropdown */

	.c-select__container:has(:popover-open) .c-select__input {
		@apply fixed bottom-auto left-md right-md top-md z-above-backdrop w-auto;
	}

	.c-select__input ~ .c-dropdown__content {
		top: calc(theme(height.input-md) + theme(spacing.md) * 2);
		margin-top: 0;
		margin-bottom: 0;
		max-height: calc(100vh - 3 * theme(spacing.md) - theme(height.input-md));
	}

	/* Undo mobile-specific positioning */
	@media screen(sm) {
		.c-select__container:has(:popover-open) .c-select__input {
			@apply absolute bottom-0 left-0 right-0 top-0 w-full;
		}

		.c-select__input ~ .c-dropdown__content {
			top: var(--c-dropdown-top);
			max-height: var(--c-dropdown-max-height);
		}
	}
}
