@import '~/shared/style/common.css';

@layer components {
	/* Default closed on mobile */
	.c-sidebar {
		display: none;
		overflow: auto;
		border-right-width: var(--border-width-md);
		border-right-style: solid;
		background-color: var(--card);
		color: var(--card-fg);
		box-shadow: var(--shadow-md);

		@mixin border-dynamic var(--card);
	}

	.c-sidebar-layout--open .c-sidebar {
		position: fixed;
		bottom: 0;
		left: 0;
		top: 0;
		z-index: var(--z-above-backdrop);
		display: block;
		width: 90vw;
		max-width: var(--sidebar-width);
	}

	.c-sidebar__overlay {
		position: fixed;
		inset: 0;
		z-index: var(--z-backdrop);
		display: none;
		background-color: var(--backdrop);
	}

	.c-sidebar-layout--open .c-sidebar__overlay {
		display: block;
	}

	@media (width >= $breakpoint-tablet-wide) {
		.c-sidebar-layout {
			display: flex;
			height: 100vh;
			width: 100vw;
			overflow: hidden;
		}

		/* Default open on desktop */
		.c-sidebar,
		.c-sidebar-layout--open .c-sidebar {
			position: relative;
			display: block;
			width: var(--sidebar-width);
			flex-shrink: 0;
		}

		.c-sidebar__overlay,
		.c-sidebar-layout--open .c-sidebar__overlay {
			display: none;
		}

		/* Can be explicitly closed on desktop */
		.c-sidebar-layout--closed .c-sidebar {
			display: none;
		}

		/*
			Open button is conditionally visible on desktop. Not really relevant on
			mobile or for close button since those get automatically shown / hidden
			based on sidebar visibility.
		*/
		.c-sidebar__open-button {
			display: none;
		}

		.c-sidebar-layout--closed .c-sidebar__open-button {
			display: inline-flex;
		}

		.c-sidebar__close-button {
			/* noop, just here to appease linter for now */
		}
	}
}
