@import '~/shared/style/common.css';

@layer variables {
	:root {
		--v-sidebar-width: 16rem;
	}
}

@layer components {
	/* Default closed on mobile */
	.c-sidebar {
		@mixin v-card-colors;
		@mixin t-border-right;

		display: none;
		overflow: auto;
		box-shadow: var(--v-shadow-md);
		flex-direction: column;
	}

	.c-sidebar-layout--open .c-sidebar {
		position: fixed;
		bottom: 0;
		left: 0;
		top: 0;
		z-index: var(--v-z-above-backdrop);
		display: flex;
		width: 90vw;
		max-width: var(--v-sidebar-width);
	}

	.c-sidebar__overlay {
		position: fixed;
		inset: 0;
		z-index: var(--v-z-backdrop);
		display: none;
		background-color: var(--v-backdrop);
	}

	.c-sidebar-layout--open .c-sidebar__overlay {
		display: block;
	}

	.c-sidebar__header,
	.c-sidebar__footer {
		@mixin o-text-box;

		flex: 0 0 auto;
		display: flex;
		align-items: center;
		gap: var(--v-inline-gap);
	}

	.c-sidebar__header {
		@mixin t-border-bottom;

		> * {
			flex: 0 0 auto;
		}

		> h1,
		> h2,
		> h3 {
			flex: 1 1 auto;
			overflow-x: hidden;
			text-overflow: ellipsis;
		}

		h1,
		h2,
		h3 {
			@mixin v-text-lg;

			font-weight: var(--v-font-weight-medium);
		}
	}

	.c-sidebar__footer {
		@mixin t-border-top;
	}

	.c-sidebar__content {
		flex: 1 1 auto;
		overflow-y: auto;
	}

	.c-sidebar__list {
		@mixin o-input-container-box;

		list-style: none;
	}

	.c-sidebar__list-item {
		padding: 0;
		text-align: left;
	}

	.c-sidebar__list-link,
	.c-sidebar__list-button {
		@mixin o-input-box;
		@mixin t-inner-radius;

		display: flex;
		align-items: flex-start;
		border-color: transparent;
		color: var(--v-card-fg);
		cursor: pointer;
		gap: var(--v-inline-gap);
		text-align: left;
		text-decoration: none;
		width: 100%;

		&:hover {
			@mixin v-secondary-colors;

			border-color: transparent;
		}

		/* Selected */
		&[aria-current]:not([aria-current='false']) {
			font-weight: var(--v-font-weight-medium);
		}
	}

	.c-sidebar-list__heading {
		@mixin o-input-box;

		font-weight: var(--v-font-weight-medium);
		border-color: transparent;
		border-width: var(--v-border-width);

		+ .c-sidebar__list {
			padding-top: 0;
		}
	}

	@mixin v-breakpoint-tablet-wide {
		.c-sidebar-layout {
			display: flex;
			height: 100vh;
			width: 100vw;
			overflow: hidden;

			/* This is needed to keep absolute positioned children from doing dumb things */
			position: relative;
		}

		/* Default open on desktop */
		.c-sidebar,
		.c-sidebar-layout--open .c-sidebar {
			position: relative;
			flex-shrink: 0;
			display: flex;
			width: var(--v-sidebar-width);
		}

		.c-sidebar__overlay,
		.c-sidebar-layout--open .c-sidebar__overlay {
			display: none;
		}

		.c-sidebar ~ *:not(.c-sidebar__overlay) {
			flex: 1 1 0;
			overflow: auto;
			container-type: inline-size;
		}

		/* Can be explicitly closed on desktop */
		.c-sidebar-layout--closed .c-sidebar {
			display: none;
		}

		/*
			Open button is conditionally visible on desktop. Not really relevant on
			mobile or for close button since those get automatically shown / hidden
			based on sidebar visibility.
		*/
		.c-sidebar__open-button {
			display: none;
		}

		.c-sidebar-layout--closed .c-sidebar__open-button {
			display: inline-flex;
		}
	}
}
