@import '~/shared/style/tokens.css';
@import '~/shared/style/mixins.css';

.c-slider {
	display: flex;
	gap: var(--space-sm);
}

.c-slider__range {
	flex-grow: 1;
}

.c-slider__number {
	border: 0;
	background-color: transparent;
	text-align: right;
	outline: none;

	/* Hide arrows since slider is there */

	/* Firefox */
	-moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
.c-slider__number::-webkit-outer-spin-button,
.c-slider__number::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.c-slider__input {
	display: flex;
	gap: var(--space-xs);
	flex-shrink: 1;
	min-height: var(--input-height-md);
	overflow-x: hidden;
	border-radius: var(--radius-md);
	border-width: var(--border-width-md);
	border-style: solid;
	background-color: var(--input-bg);
	text-align: right;
	font-weight: var(--font-weight-normal);
	color: var(--input-fg);
	box-shadow: var(--shadow-inner);

	@mixin transition-color;
	@mixin border-dynamic var(--secondary);
	@mixin input-size-md;
}

.c-slider__input:has(:focus-visible) {
	@mixin focus-ring;
}

.c-slider__input:has(:invalid, [aria-invalid='true']) {
	@mixin error-input;
}

.c-slider__input:has(:disabled, [aria-disabled='true']) {
	@mixin disabled-input;
}

.c-slider__unit {
	color: var(--muted);
}
