@import '~/shared/style/common.css';

@layer components {
	.c-stack {
		display: flex;
		flex-direction: column;

		/* md by default */
		gap: var(--space-md);
	}
}

@layer utilities {
	/* Size variants */
	.c-stack--sm {
		gap: var(--space-sm);
	}

	.c-stack--lg {
		gap: var(--space-lg);
	}
}
