@import '~/shared/style/common.css';

@layer variables {
	:root {
		--c-tabs__max-width: 16em;
	}
}

@layer components {
	.c-tabs__bar {
		@mixin t-border-bottom;

		display: flex;
		overflow: auto;
	}

	.c-tabs__button {
		border-width: 0 0 var(--v-border-width-lg) 0;
		color: var(--v-muted);
		display: block;
		flex-grow: 1;
		flex-basis: 0;
		font-weight: var(--v-font-weight-medium);
		max-width: var(--c-tabs__max-width);
		white-space: nowrap;

		&:hover,
		&:focus-visible {
			color: var(--v-fg);
		}

		/* Active state */
		&[aria-selected='true'] {
			border-color: var(--v-primary-bg);
			color: var(--v-fg);
		}

		&:first-child {
			padding-left: var(--v-spacing);
		}

		&:last-child {
			padding-right: var(--v-spacing);
		}
	}

	.c-tabs__panel {
		outline: none;

		&:focus {
			@mixin t-focus-ring;
		}
	}
}
