@import '~/shared/style/common.css';

@layer components {
	.c-toggle-switch {
		@mixin v-input-colors;
		@mixin t-border;
		@mixin t-transition-color;

		position: relative;
		display: inline-flex;
		height: 1lh;
		width: 2.75em;
		cursor: pointer;
		align-items: center;
		border-radius: 9999em;
		box-shadow: var(--v-shadow-inner);
	}

	.c-toggle-switch:has(input:checked) {
		background-color: var(--v-primary-bg);
	}

	.c-toggle-switch input {
		@mixin t-sr-only;
	}

	.c-toggle-switch:has(input:focus-visible) {
		@mixin t-focus-ring;
	}

	.c-toggle-switch__thumb {
		position: absolute;
		left: 0.125em;
		height: 1em;
		width: 1em;
		border-radius: 9999em;
		background-color: var(--v-input-fg);

		@mixin t-transition transform;
	}

	.c-toggle-switch:has(input:checked) .c-toggle-switch__thumb {
		transform: translateX(1.375em);
		background-color: var(--v-primary-fg);
	}

	.c-toggle-switch:has([aria-invalid='true']) {
		@mixin t-error;
	}

	.c-toggle-switch:has([aria-disabled='true']) {
		@mixin t-disabled-input;
	}
}
