@import '~/shared/style/tokens.css';
@import '~/shared/style/mixins.css';

@layer components {
	.c-tooltip {
		max-width: var(--tooltip-width);
		pointer-events: none;
		z-index: 1;
		border-radius: var(--radius-sm);
		background-color: var(--tooltip);
		padding: var(--text-y-sm) var(--space-sm);
		font-size: var(--font-size-sm);
		line-height: var(--line-height-sm);
		color: var(--tooltip-fg);

		/* Popovers clip overflow by default which hide the arrow */
		overflow: visible;
	}

	.c-tooltip .c-tooltip__arrow {
		height: var(--tooltip-arrow-size);
		width: var(--tooltip-arrow-size);
		transform: rotate(45deg);
		background-color: var(--tooltip);
	}
}
