/*
    Light and dark mode colors
*/
@define-mixin v-dark {
	--v-body-bg: linear-gradient(102deg, hsl(0deg 0% 100% / 0%), hsl(158deg 77% 15% / 15%)),
		linear-gradient(12deg, hsl(0deg 0% 100% / 0%), hsl(195deg 100% 71% / 15%)), var(--v-bg);
	--v-default-bg: hsl(216deg 16% 8%);
	--v-default-fg: hsl(30deg 12% 98.5%);
	--v-card-bg: hsl(216deg 16% 8%);
	--v-card-fg: hsl(30deg 12% 98.5%);
	--v-code-bg: hsl(216deg 16% 18%);
	--v-code-fg: hsl(30deg 100% 96%);
	--v-pre-bg: hsl(216deg 16% 18%);
	--v-pre-fg: hsl(30deg 100% 96%);
	--v-pre-danger: hsl(30deg 100% 79%);
	--v-pre-muted: hsl(30deg 7% 82.5%);
	--v-popover-bg: hsl(216deg 16% 8%);
	--v-popover-fg: hsl(30deg 12% 98.5%);
	--v-tooltip-bg: hsl(216deg 16% 8%);
	--v-tooltip-fg: hsl(30deg 12% 98.5%);
	--v-tooltip-danger: hsl(30deg 100% 76%);
	--v-tooltip-muted: hsl(30deg 7% 82.5%);
	--v-primary-bg: hsl(195deg 100% 20%);
	--v-primary-fg: hsl(30deg 100% 96%);
	--v-secondary-bg: hsl(216deg 16% 18%);
	--v-secondary-fg: hsl(30deg 100% 96%);
	--v-secondary-danger: hsl(30deg 100% 79%);
	--v-secondary-muted: hsl(0deg 0% 86.5%);
	--v-callout-bg: hsl(216deg 16% 18%);
	--v-callout-fg: hsl(30deg 100% 96%);
	--v-highlight-bg: hsl(195deg 100% 20%);
	--v-highlight-fg: hsl(30deg 100% 96%);
	--v-highlight-danger: hsl(30deg 100% 85%);
	--v-highlight-muted: hsl(183deg 25% 86%);
	--v-input-bg: hsl(216deg 16% 8%);
	--v-input-fg: hsl(30deg 12% 98.5%);
	--v-success-bg: hsl(158deg 77% 8%);
	--v-success-fg: hsl(30deg 12% 98.5%);
	--v-success-muted: hsl(158deg 0% 86.5%);
	--v-success-border: hsl(158deg 77% 25%);
	--v-warning-bg: hsl(50deg 100% 10%);
	--v-warning-fg: hsl(30deg 12% 98.5%);
	--v-warning-muted: hsl(50deg 0% 86.5%);
	--v-warning-border: hsl(50deg 100% 50%);
	--v-danger-bg: hsl(30deg 100% 8%);
	--v-danger-fg: hsl(30deg 100% 85%);
	--v-danger-muted: hsl(30deg 25% 85%);
	--v-danger-border: hsl(30deg 100% 50%);
	--v-danger-text: hsl(30deg 100% 76%);
	--v-input-disabled-bg: hsl(0deg 0% 15%);
	--v-backdrop: hsl(0deg 0% 0% / 50%);
	--v-muted: hsl(30deg 7% 86.5%);
	--v-link: hsl(183deg 25% 85%);
	--v-ring: hsl(183deg 25% 85%);
	--v-ring-alt: hsl(210deg 0% 14.9%);
	--v-border-dynamic-base: white;
	--v-border-dynamic-mix: 50%;
}

/*
    Defining light second simply because this is the "default" theme and the VSCode
    extension I use for CSS variables prefers later mentions of a variable.
*/
@define-mixin v-light {
	--v-body-bg: linear-gradient(102deg, hsl(0deg 0% 100% / 0%), hsl(30deg 75% 75% / 15%)),
		linear-gradient(12deg, hsl(0deg 0% 100% / 0%), hsl(183deg 25% 71% / 7%)), var(--v-bg);
	--v-default-bg: hsl(30deg 12% 98.5%);
	--v-default-fg: hsl(216deg 16% 8%);
	--v-card-bg: hsl(30deg 12% 98.5%);
	--v-card-fg: hsl(216deg 16% 8%);
	--v-code-bg: hsl(30deg 12% 92.5%);
	--v-code-fg: hsl(216deg 16% 8%);
	--v-pre-bg: hsl(216deg 16% 18%);
	--v-pre-fg: hsl(30deg 100% 96%);
	--v-pre-danger: hsl(30deg 100% 80%);
	--v-pre-muted: hsl(30deg 7% 82.5%);
	--v-popover-bg: hsl(30deg 12% 98.5%);
	--v-popover-fg: hsl(216deg 16% 8%);
	--v-tooltip-bg: hsl(216deg 16% 8%);
	--v-tooltip-fg: hsl(0deg 0% 98%);
	--v-tooltip-danger: hsl(30deg 100% 80%);
	--v-tooltip-muted: hsl(30deg 7% 82.5%);
	--v-primary-bg: hsl(195deg 100% 20%);
	--v-primary-fg: hsl(30deg 100% 96%);
	--v-secondary-bg: hsl(30deg 12% 92.5%);
	--v-secondary-fg: hsl(0deg 0% 3%);
	--v-secondary-danger: hsl(0deg 100% 30.5%);
	--v-secondary-muted: hsl(30deg 7% 31%);
	--v-callout-bg: hsl(30deg 12% 92.5%);
	--v-callout-fg: hsl(216deg 16% 8%);
	--v-highlight-bg: hsl(195deg 100% 20%);
	--v-highlight-fg: hsl(30deg 100% 96%);
	--v-highlight-danger: hsl(30deg 100% 85%);
	--v-highlight-muted: hsl(183deg 25% 86%);
	--v-input-bg: hsl(30deg 12% 98.5%);
	--v-input-fg: hsl(216deg 16% 8%);
	--v-success-bg: hsl(158deg 77% 15%);
	--v-success-fg: hsl(30deg 100% 96%);
	--v-success-muted: hsl(158deg 77% 90%);
	--v-warning-bg: hsl(50deg 77% 86%);
	--v-warning-fg: hsl(216deg 16% 8%);
	--v-warning-muted: hsl(50deg 77% 21.5%);
	--v-danger-bg: hsl(0deg 89% 31%);
	--v-danger-fg: hsl(0deg 0% 98%);
	--v-danger-muted: hsl(0deg 89% 93%);
	--v-input-disabled-bg: hsl(0deg 0% 95%);
	--v-backdrop: hsl(0deg 0% 0% / 50%);
	--v-danger-text: hsl(0deg 89% 31%);
	--v-muted: hsl(30deg 7% 31%);
	--v-link: hsl(195deg 100% 20%);
	--v-ring: hsl(195deg 100% 20%);
	--v-ring-alt: hsl(183deg 25% 71%);
	--v-border-dynamic-base: black;
	--v-border-dynamic-mix: 17.5%;
}

@layer variables {
	:root {
		@mixin v-light;

		color-scheme: light dark;
	}

	.v-inverted {
		@mixin v-dark;

		color-scheme: dark;
	}

	/* System Dark Mode */
	@media (prefers-color-scheme: dark) {
		:root:not([data-color-scheme='light']) {
			@mixin v-dark;

			color-scheme: dark;

			.v-inverted {
				@mixin v-light;

				color-scheme: light;
			}
		}
	}

	/* Explicit Dark Mode */
	:root[data-color-scheme='dark'] {
		@mixin v-dark;

		color-scheme: dark;

		.v-inverted {
			@mixin v-light;

			color-scheme: light;
		}
	}
}
