/*
    Utility classes for overriding default padding. Default padding should be applied
    via .o-box and friends. These classes are for one-off overrides, which is why we
    only include zero variants.
*/
@layer tools {
	.t-px-0 {
		padding-left: 0;
		padding-right: 0;
	}

	.t-py-0 {
		padding-top: 0;
		padding-bottom: 0;
	}

	.t-pt-0 {
		padding-top: 0;
	}

	.t-pr-0 {
		padding-right: 0;
	}

	.t-pb-0 {
		padding-bottom: 0;
	}

	.t-pl-0 {
		padding-left: 0;
	}

	.t-pl {
		padding-left: var(--v-spacing);
	}

	.t-pr {
		padding-right: var(--v-spacing);
	}

	.t-pt {
		padding-top: var(--v-spacing);
	}

	.t-pb {
		padding-bottom: var(--v-spacing);
	}

	.t-py {
		padding-top: var(--v-spacing);
		padding-bottom: var(--v-spacing);
	}

	.t-px {
		padding-left: var(--v-spacing);
		padding-right: var(--v-spacing);
	}

	.t-py-text {
		padding-block: calc(var(--v-spacing) - (1lh - 1em) / 2);
	}

	.t-pt-text {
		padding-top: calc(var(--v-spacing) - (1lh - 1em) / 2);
	}

	.t-pb-text {
		padding-bottom: calc(var(--v-spacing) - (1lh - 1em) / 2);
	}
}
