@define-mixin t-font-weight $weight {
	--v-font-weight: $(weight);

	font-weight: $(weight);
}

@define-mixin t-text-weight-label {
	@mixin t-font-weight var(--v-font-weight-label);
}

@define-mixin t-text-weight-selected {
	@mixin t-font-weight var(--v-font-weight-selected);
}

@define-mixin t-text-weight-strong {
	@mixin t-font-weight var(--v-font-weight-strong);
}

@define-mixin t-text-weight-subtitle {
	@mixin t-font-weight var(--v-font-weight-subtitle);
}

@define-mixin t-text-weight-title {
	@mixin t-font-weight var(--v-font-weight-title);
}

@define-mixin t-text-muted {
	color: var(--v-muted);
	font-weight: var(--v-font-weight-muted, var(--v-font-weight));
}

@define-mixin t-text-danger {
	color: var(--v-danger-text);
	font-weight: var(--v-font-weight-danger, var(--v-font-weight));
}

@layer tools {
	.t-text-weight-label {
		@mixin t-text-weight-label;
	}

	.t-text-weight-selected {
		@mixin t-text-weight-selected;
	}

	.t-text-weight-strong {
		@mixin t-text-weight-strong;
	}

	.t-text-weight-subtitle {
		@mixin t-text-weight-subtitle;
	}

	.t-text-weight-title {
		@mixin t-text-weight-title;
	}

	.t-text-muted {
		@mixin t-text-muted;
	}

	.t-text-danger {
		@mixin t-text-danger;
	}
}
