/* Transition helpers */

/* Single property transition with defaults */
@define-mixin t-transition $properties, $timing: cubic-bezier(0.4, 0, 0.2, 1) {
	transition-property: var(--v-animation-none, $(properties));
	transition-timing-function: $(timing);
}

/* Extend transition duration (e.g. for larger elements) */
@define-mixin t-transition-duration $duration {
	--v-transition-duration: $duration;
}

/* Target multiple color attributes */
@define-mixin t-transition-color {
	@mixin t-transition single-arg(color, background-color, border-color);
}

/* Target multiple color attributes plus other prop */
@define-mixin t-transition-color-plus $properties {
	@mixin t-transition single-arg(color, background-color, border-color, $(properties));
}

/* Delay appearance

/* Combine a transition with a visibility flip off (e.g. to remove focus, find, etc.) */
@define-mixin t-transition-visibility-hidden $property, $timing: cubic-bezier(0.4, 0, 0.2, 1) {
	visibility: hidden;
	transition: var(
		--v-animation-none,
		visibility var(--v-transition-duration) step-end,
		$(property) var(--v-transition-duration) $(timing)
	);
}

/*
	Combine a transition with a visibility flip on. Separate from above because
	we want to use step-start to make this visible immediately so it doesn't
	interfere with focus, etc.
*/
@define-mixin t-transition-visibility-visible $property, $timing: cubic-bezier(0.4, 0, 0.2, 1) {
	visibility: visible;
	transition: var(
		--v-animation-none,
		visibility var(--v-transition-duration) step-start,
		$(property) var(--v-transition-duration) $(timing)
	);
}

@define-mixin t-transition-fade-out {
	@mixin t-transition-visibility-hidden opacity;

	opacity: 0;
}

@define-mixin t-transition-fade-in {
	@mixin t-transition-visibility-visible opacity;

	opacity: 1;
}

@define-mixin t-transition-slide-in {
	@mixin t-transition-visibility-visible transform;

	transform: translate(0, 0);
}

@define-mixin t-transition-slide-out $x: 0, $y: -100% {
	@mixin t-transition-visibility-hidden transform;

	transform: translate($x, $y);
}

@define-mixin t-transition-fade-transform {
	transition: var(
		--v-animation-none,
		visibility var(--v-transition-duration),
		opacity var(--v-transition-duration) linear,
		transform var(--v-transition-duration) cubic-bezier(0.4, 0, 0.2, 1)
	);
}

@define-mixin t-transition-fade-slide-in {
	opacity: 1;
	transform: translate(0, 0);
	visibility: visible;
	transition: var(
		--v-animation-none,
		visibility var(--v-transition-duration) step-start,
		opacity var(--v-transition-duration) linear,
		transform var(--v-transition-duration) cubic-bezier(0.4, 0, 0.2, 1)
	);
}

@define-mixin t-transition-fade-slide-out $x: 0, $y: -100% {
	opacity: 0;
	transform: translate($x, $y);
	visibility: hidden;
	transition: var(
		--v-animation-none,
		visibility var(--v-transition-duration) step-end,
		opacity var(--v-transition-duration) linear,
		transform var(--v-transition-duration) cubic-bezier(0.4, 0, 0.2, 1)
	);
}

/* Delay appearance of element until transition is complete */
@define-mixin t-transition__delayed {
	animation: var(--v-animation-none, t-animation-fade-in var(--v-transition-duration) step-end);
}

@layer variables {
	:root {
		--v-transition-duration: var(--v-animation-duration-sm);
	}
}

@layer base {
	* {
		transition-duration: var(--v-transition-duration);
		transition-property: none;
	}
}
