/* Transition helpers */

@define-mixin t-transition-timings {
	transition-duration: var(--v-animation-duration-short);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@define-mixin t-transition $properties {
	@mixin t-transition-timings;

	transition-property: var(--v-animation-none, $(properties));
}

@define-mixin t-transition-color {
	@mixin t-transition single-arg(color, background-color, border-color);
}
