/* Badge styles for displaying status or notifications */
@define-mixin o-badge {
	@mixin v-font-weight var(--v-font-weight-label);
	@mixin t-border;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center; /* Might seem redundant with justify but inner span is fixed width */
	font-size: var(--v-font-size-sm);
	border-radius: 0.5lh;
	padding: 0 0.5lh;
	height: 1lh;
}

@layer objects {
	.o-badge {
		@mixin v-colors-secondary;
		@mixin o-badge;
	}
}
