@layer variables {
	:root {
		--v-container-width: 44rem;
	}
}

/* Container meant to constrain text width */
@define-mixin o-container {
	@mixin v-colors-default;

	max-width: var(--v-container-width);
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding: calc(var(--v-spacing) - (1lh - 1em) / 2) var(--v-spacing);

	@mixin v-breakpoint-tablet {
		@mixin t-radius-outer;

		box-shadow: var(--v-shadow-lg);
		margin-block: var(--v-space-xl);
		min-height: auto;
		padding: calc(var(--v-space-xl) - (1lh - 1em) / 2) var(--v-space-xl);
	}

	@mixin v-breakpoint-desktop {
		margin-block: var(--v-space-2xl);
		padding: calc(var(--v-space-2xl) - (1lh - 1em) / 2) var(--v-space-2xl);
	}
}

@layer objects {
	.o-container {
		@mixin o-container;
	}
}
