/* A default basic grid */
@define-mixin o-grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: var(--v-spacing);

	@mixin v-container-tablet {
		& {
			grid-template-columns: repeat(auto-fit, minmax(50% - var(--v-spacing), 1fr));
		}
	}

	@mixin v-container-tablet-wide {
		& {
			grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3 - var(--v-spacing)), 1fr));
		}
	}
}

@layer objects {
	.o-grid {
		@mixin o-grid;
	}
}
