/* A stack is a vertical collection of items */
@define-mixin o-stack {
	display: flex;
	flex-direction: column;
	gap: var(--v-spacing);
}

/* A variant of stack for holding blocks of text */
@define-mixin o-text-stack {
	> * + * {
		margin-top: calc(max(var(--v-spacing), 1em) - 0.5lh + 0.5em);
	}
}

@layer objects {
	.o-stack {
		@mixin o-stack;
	}

	.o-text-stack {
		@mixin o-text-stack;
	}
}
