/*
    Light and dark mode colors
*/
@define-mixin v-dark {
	--v-default-bg: hsl(0deg 0% 1.9%);
	--v-default-fg: hsl(0deg 0% 98%);
	--v-card-bg: hsl(0deg 0% 15%);
	--v-card-fg: hsl(0deg 0% 98%);
	--v-code-bg: hsl(0deg 0% 14.9%);
	--v-code-fg: hsl(0deg 0% 98%);
	--v-pre-bg: hsla(0deg 0% 14.9% / 80%);
	--v-pre-fg: hsl(210deg 100% 90%);
	--v-popover-bg: hsl(0deg 0% 3.9%);
	--v-popover-fg: hsl(0deg 0% 98%);
	--v-tooltip-bg: hsl(0deg 0% 3.9%);
	--v-tooltip-fg: hsl(0deg 0% 98%);
	--v-primary-bg: hsl(0deg 0% 98%);
	--v-primary-fg: hsl(0deg 0% 9%);
	--v-secondary-bg: hsl(0deg 0% 14.9%);
	--v-secondary-fg: hsl(0deg 0% 98%);
	--v-callout-bg: hsl(0deg 0% 14.9%);
	--v-callout-fg: hsl(0deg 0% 98%);
	--v-highlight-bg: hsl(210deg 80% 80%);
	--v-highlight-fg: hsl(0deg 0% 9%);
	--v-input-bg: hsl(0deg 0% 3.9%);
	--v-input-fg: hsl(0deg 0% 98%);
	--v-success-bg: hsl(120deg 80% 30%);
	--v-success-fg: hsl(0deg 0% 98%);
	--v-warning-bg: hsl(50deg 85% 75%);
	--v-warning-fg: hsl(0deg 0% 0%);
	--v-danger-bg: hsl(29deg 100% 65%);
	--v-danger-fg: hsl(0deg 0% 1.9%);
	--v-danger-text: hsl(29deg 100% 65%);
	--v-input-disabled-bg: hsl(0deg 0% 14.9%);
	--v-backdrop: hsla(0deg 0% 0% / 50%);
	--v-muted: hsl(0deg 0% 54.9%);
	--v-link: hsl(210deg 80% 80%);
	--v-ring: hsl(0deg 0% 83.1%);
	--v-border-dynamic-base: white;
	--v-border-dynamic-mix: 25%;
}

/*
    Defining light second simply because this is the "default" theme and the VSCode
    extension I use for CSS variables prefers later mentions of a variable.
*/
@define-mixin v-light {
	--v-default-bg: hsl(0deg 0% 99%);
	--v-default-fg: hsl(0deg 0% 3%);
	--v-card-bg: hsl(0deg 0% 99%);
	--v-card-fg: hsl(0deg 0% 3%);
	--v-code-bg: hsl(0deg 0% 92.5%);
	--v-code-fg: hsl(0deg 0% 9%);
	--v-pre-bg: hsl(0deg 0% 14%);
	--v-pre-fg: hsl(210deg 89% 89%);
	--v-pre-danger: hsl(30deg 100% 80%);
	--v-pre-muted: hsl(0deg 0% 82%);
	--v-popover-bg: hsl(0deg 0% 99%);
	--v-popover-fg: hsl(0deg 0% 3%);
	--v-tooltip-bg: hsl(0deg 0% 3%);
	--v-tooltip-fg: hsl(0deg 0% 98%);
	--v-tooltip-danger: hsl(30deg 100% 75%);
	--v-tooltip-muted: hsl(0deg 0% 80%);
	--v-primary-bg: hsl(0deg 0% 9%);
	--v-primary-fg: hsl(0deg 0% 99%);
	--v-secondary-bg: hsl(0deg 0% 92.5%);
	--v-secondary-fg: hsl(0deg 0% 3%);
	--v-secondary-danger: hsl(0deg 100% 30.5%);
	--v-secondary-muted: hsl(0deg 0% 80%);
	--v-callout-bg: hsl(0deg 0% 92.5%);
	--v-callout-fg: hsl(0deg 0% 3%);
	--v-highlight-bg: hsl(210deg 80% 20%);
	--v-highlight-fg: hsl(0deg 0% 98%);
	--v-input-bg: hsl(0deg 0% 99%);
	--v-input-fg: hsl(0deg 0% 3%);
	--v-success-bg: hsl(120deg 60% 25%);
	--v-success-fg: hsl(0deg 0% 98%);
	--v-warning-bg: hsl(50deg 85% 75%);
	--v-warning-fg: hsl(0deg 0% 0%);
	--v-danger-bg: hsl(0deg 71% 39%);
	--v-danger-fg: hsl(0deg 0% 98%);
	--v-input-disabled-bg: hsl(0deg 0% 95%);
	--v-backdrop: hsla(0deg 0% 0% / 50%);
	--v-danger-text: hsl(0deg 100% 30.5%);
	--v-muted: hsl(0deg 0% 32.3%);
	--v-link: hsl(210deg 80% 20%);
	--v-ring: hsl(0deg 0% 3%);
	--v-border-dynamic-base: black;
	--v-border-dynamic-mix: 15%;
}

@layer variables {
	:root {
		@mixin v-light;
	}

	.v-inverted {
		@mixin v-dark;
	}

	/* System Dark Mode */
	@media (prefers-color-scheme: dark) {
		:root:not([data-color-scheme='light']) {
			@mixin v-dark;

			.v-inverted {
				@mixin v-light;
			}
		}
	}

	/* Explicit Dark Mode */
	:root[data-color-scheme='dark'] {
		@mixin v-dark;

		.v-inverted {
			@mixin v-light;
		}
	}
}
