/*
	Some padding is built around a target height for a button or input in the
	single line case (but we use padding rather than something like align-items
	so it works for the multi-line case as well.
*/

@define-mixin v-input-sm {
	--v-input-height: var(--v-input-height-sm);

	@mixin v-text-sm;
}

@define-mixin v-input-md {
	--v-input-height: var(--v-input-height-md);

	@mixin v-text-md;
}

@define-mixin v-input-lg {
	--v-input-height: var(--v-input-height-lg);

	@mixin v-text-lg;
}

@layer variables {
	:root {
		@mixin v-input-md;
	}

	.v-input-sm {
		@mixin v-input-sm;
	}

	.v-input-md {
		@mixin v-input-md;
	}

	.v-input-lg {
		@mixin v-input-lg;
	}
}
