/*
	We group a bunch of related properties under a "size" category. Medium is the default
	but allow for small and large as well. By grouping these custom properties together,
	this saves us from having to create custom "large box", "large button", etc. classes.

	Just slap a class like `.v-lg` on an element and it's bigger. Note that this effect
	will apply to all of that element's children as well (generally desirable).
*/
@define-mixin v-sizes-base {
	/* Default typography */
	--v-font-size: 0.9375rem;
	--v-line-height: 1.375rem;

	/*
		Target heights for inputs (and buttons) -- elements may end up exceeding
		heights if multi-line but this should be the single line cases
	*/
	--v-input-height: 2rem;

	/* Not padding-block per se, but padding between cards and whatnot */
	--v-block-padding: 1rem;

	/* Border width (for input elements generally */
	--v-border-width: 0.0625rem;

	/* Default border radius */
	--v-border-radius: 0.375rem;

	/* Gap between inline elements (like an icon) */
	--v-inline-gap: 0.5rem;

	/** Default drop shadow */
	--v-inner-shadow: ;
	--v-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
}

/*
	Define computed values separately because they need to be redeclared whenever
	the vars they depend on change (CSS custom properties are evaluated when declared).
*/
@define-mixin v-sizes-computed {
	/* Block padding that accounts for line height */
	--v-text-y-padding: calc(
		var(--v-block-padding) - (var(--v-line-height) - var(--v-font-size)) / 2
	);
	--v-text-padding: var(--v-text-y-padding) var(--v-block-padding);

	/*
		Padding to get elements to a sought after "input height", with a width meant
		to create an even appearance.
	*/
	--v-input-y-padding: calc((var(--v-input-height) - var(--v-line-height)) / 2);
	--v-input-x-padding: calc((var(--v-input-height) - var(--v-font-size)) / 2);
	--v-input-padding: var(--v-input-y-padding) var(--v-input-x-padding);
}

@define-mixin v-md {
	@mixin v-sizes-base;
	@mixin v-sizes-computed;
}

@define-mixin v-sm {
	--v-font-size: 0.875rem;
	--v-line-height: 1.25rem;
	--v-input-height: 1.75rem;
	--v-block-padding: 0.5rem;
	--v-border-width: 1px;
	--v-border-radius: 0.25rem;
	--v-inline-gap: 0.25rem;

	@mixin v-sizes-computed;
}

@define-mixin v-lg {
	--v-font-size: 1rem;
	--v-line-height: 1.5rem;
	--v-input-height: 2.25rem;
	--v-block-padding: 1.5rem;
	--v-border-width: 0.125rem;
	--v-border-radius: 0.5rem;
	--v-inline-gap: 1rem;

	@mixin v-sizes-computed;
}

@layer variables {
	.v-md {
		@mixin v-md;
	}

	.v-sm {
		@mixin v-sm;
	}

	.v-lg {
		@mixin v-lg;
	}
}
